body {
    font-family: "Montseratt";
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

.nav-item {
    padding: 0 18px;
    font-size: 1.2rem;
}

.navbar {
    padding: 0 0 3rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-size: xx-large;
}

.download-button {
    margin: 20% 3% 3% 0;
}

.phone-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
   
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    z-index: 1;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; 
    font-size: 1.5rem;
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; 
    font-size: 3rem;
    line-height: 1.5;
}

p {
    color : #8f8f8f;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

#testimonials {
    
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    text-align: center;
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

#cta {
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 5% 15%;
}

.cta-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; 
    font-size: 3.5rem;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 0;
}

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

@media (max-width:1028px) {

    #title {
        text-align: center;
    }

    .phone-image {
        position: static;
        transform: rotate(0);
    }
}

